{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero bg-light py-5">
    <div class="container">
      <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
          <h1 class="display-4 fw-bold">Find Your Dream Car</h1>
          <p class="lead text-muted">Browse a wide range of high-quality cars at unbeatable prices. Drive your dream car today!</p>
        </div>
        <!-- Image Section -->
        <div class="col-md-6 text-center">
          <img src="{% static 'images/banner.png' %}" alt="Car" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </section>

<div class="container mt-4">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Brand
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'home' %}">All Brands</a></li>
            {% for brand in brands %}
                <li><a class="dropdown-item" href="{% url 'brandpage' id=brand.id %}">{{ brand.name }}</a></li>
            {% endfor %}
        </ul>
    </div>   
    Total cars: {{carscount}}     
</div>

<div class="container mt-4">
    <div class="row row-cols-md-3 g-4">
        {% for car in cars %}
        <div class="col">
        <div class="card h-100">
            <a href="{% url 'carpage' id=car.id %}">
                <img src="{{ car.img.url }}" class="card-img-top" style="height:200px">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                <p class="card-text">Type: {{ car.fuel_type }}</p>
                <p class="card-text">Price: {{ car.price }}</p>
                {% if user.is_authenticated %}
                    {% if car.quantity == 0 %}
                        <button class="btn btn-gray" disabled>Stock out</button>
                    {% else %}
                        <a href="{% url 'checkout' id=car.id %}" class="btn btn-primary">Buy Now</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>


{% endblock %}